doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
h1 Welcome To KenzieGram
form(action='/upload' enctype='multipart/form-data' method='POST')
  input(type='file' name='myfile')
  button(type='submit') Upload

each item in items 
    img(src =`./uploads/${item}`)




